<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BaJobs</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="logo">
          <img src="../assets/logo.svg" alt="logo" />
        </a>
        <ul class="menu">
          <li><a routerLink="/">Home</a></li>
          <li>Sobre</li>
          <li><a href="https://forms.gle/K1fuJCNDjwMGbmXL6" target="_blank">Contato</a></li>
        </ul>
      </nav>
    </header>
    <router-outlet></router-outlet>
    <footer>
      <div class="container">
        <div class="info">
          <div class="social">
            <p class="title">SOCIAL:</p>
            <ul>
              <li><a href="https://github.com/igorms20" target="_blank"><fa-icon [icon]="faGithub"></fa-icon>Github</a></li>
              <li><a href="https://www.linkedin.com/in/igor-menezes-4a53ba178/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon>LinkedIn</a></li>
              <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon>Instagram</a></li>
            </ul>
          </div>
          <div class="about">
            <p class="title">SOBRE O PROJETO:</p>
            <p>Esse projeto foi desenvolvido a partir de uma proposta acadêmica visando colocar em prática os conhecimentos obtidos na área de tecnologia
              e contribuir para um ou mais Objetivos de Desenvolvimento Sustentável (ODS).
            </p>
          </div>
        </div>
        <p class="copyright">&copy;André Igor M. Santos - 2023</p>
      </div>
    </footer>
  </body>
</html>
