<div class="container">
  <h1>Sobre nós</h1>
  <p>
    Essa plataforma foi desenvolvida por três estudantes do curso de Análise e
    Desenvolvimento de Sistemas da universidade UNINTER, sendo o líder, eu,
    André Igor Menezes Santos. O projeto foi realizado com a finalidade de
    aplicar nossos conhecimentos de TI aprendidos no curso e também os
    conhecimentos obtidos fora da faculdade, e também contribuir de alguma forma
    para a sociedade, nesse caso, na área profissional e econômica. O site
    oferece uma interface simples e intuitiva, onde os usuários podem buscar e se candidatar a vagas de emprego de diversas localidades da
    Bahia.
  </p>
  <h3>Colaboradores do projeto:</h3>
  <ul class="colaboradores">
    <li>
      <b>André Igor:
        <a
          href="https://www.linkedin.com/in/igor-menezes-4a53ba178/"
          target="_blank"
          >LinkedIn</a
        >
        |
        <a href="https://github.com/igorms20" target="_blank">Github</a>
      </b>
    </li>
    <li>
      <b>Adryan:
        <a
          href="https://www.linkedin.com/in/adryan-costa-b03008229"
          target="_blank"
          >LinkedIn</a
        >
        |
        <a href="https://github.com/Adryan-wallker" target="_blank">Github</a>
      </b>
    </li>
    <li>
      <b>Guilherme Gomes:
        <a
          href="https://www.linkedin.com/in/guilherme-gomes-farias-706515263"
          target="_blank"
          >LinkedIn</a
        >
        |
        <a href="https://github.com/Guilherme1237-co" target="_blank">Github</a>
      </b>
    </li>
  </ul>
</div>
