<div class="container">
  <h1>Sobre nós</h1>
  <p>Esse plataforma foi desenvolvidade por três estudantes do curso de Análise e Desenvolvimento de Sistemas da universidade UNINTER, sendo
    o líder, eu, André Igor Menezes Santos.
    O projeto foi realizado com a finalidade de aplicar nossos conhecimentos de TI aprendidos no curso e também os conhecimentos obtidos fora
    da faculdade, e também contribuir de alguma forma para a sociedade, nesse caso, na área profissional.
    Aqui estão as redes sociais de todos os colaboradores:
    
  </p>
</div>
